.gradient-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
.gradient-custom-2 {
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center;
  }

.login-form-input {
    width: 100%;
    outline-width: 0px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #27374D;
    color: #27374D;
    font-size: 25px;
    font-weight: 600;
    padding-inline-start: 20px;
    font-family: 'QuickSand';
}

.login-form-input::placeholder {
    color: #27374D;
    opacity: .7;
    font-weight: normal;
}

